.kakao_login_button {
  width: 500px;
  height: 90px;
  background: #FEE500;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: outset;
}

.kakao_login_symbol {
  background: url('../images/kakao_symbol.svg') no-repeat center;
  background-size: contain;
  width: 26px; /* 높이를 줄였으므로 심볼의 크기도 비율에 맞게 줄입니다. */
  height: 26px;
  margin-right: 24px;
}

.kakao_login_label {
  color: #191919;
  font-size: 26px; /* 높이를 줄였으므로 레이블의 폰트 크기도 비율에 맞게 줄입니다. */
}
