.main_site_introduction{
  background: linear-gradient( rgb(60, 91, 141), skyblue);
  height: 2600px;
  width: 100%;
}

.illust_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
}

.main_illust{
  width: 700px;
}

.main_illust_text {
  line-height: 2;
}

.main_illust.illust_worried{
  transform: scale(0.6);
}

.main_illust.illust_platforms{
  transform: scale(0.8);
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.main_illust_text{
  width: 50%;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 35px;
  animation-name: none; /* 초기에는 애니메이션 이름을 none으로 설정 */
  animation-duration: 2s;
  animation-timing-function: ease-out;
  opacity: 0; /* 초기에는 투명하게 설정 */
}

.main_illust_text.visible{
  animation-name: slideUp; /* visible 클래스가 적용될 때만 애니메이션 이름을 slideUp으로 설정 */
  opacity: 1;
}

.main_illust_text.text_thinking{
  margin-right: 200px;
}

.main_illust_text.text_worried{
  margin-left: 200px;
}

.main_illust_text.text_platforms{
  margin-right: 200px;
}
